html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.initial .initial_user_message {
    display: block;
    text-align: start;
}

.initial_user_message {
    display: none;
}

.onboarding_text {
    display: inline-block;
    animation: fade-in-left 1s ease-out;
}

.audio_visualizer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -500;
    pointer-events: none;
}

.player_bar {
    padding-left: 12px;
}

.player_bar audio {
    flex: 1;
}

.song_playlist,
.lyric_overlay,
.search_overlay {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    overflow: auto;
    display: none;
    color: rgba(255, 255, 255, .75);
}

.song_playlist {
    pointer-events: none;
}

.song_playlist * {
    pointer-events: all;
}

.playlist .song_playlist {
    display: block;
}

.search .search_overlay {
    display: block;
}

.song_playlist li {
    padding: 10px;
    border-bottom: 1px solid rgba(125, 125, 125, .1);
}

.song_playlist li:last-child {
    border-bottom: none;
}

.song_playlist li:hover {
    background-color: rgba(25, 25, 25, .5);
}

.lyric_overlay {
    display: none;
}

.spacer_list {
    flex: 1;
    pointer-events: none;
}

.lyrics .spacer_list,
.playlist .spacer_list,
.search .spacer_list {
    display: none;
}

.lyrics .lyric_overlay {
    display: block;
}

.search_overlay {
    display: none;
}

.search .search_overlay {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.selected {
    background-color: rgba(75, 75, 75, .5);
}

.filter-body select::-ms-expand {
    display: none;
}

.filter-element {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    border: solid 1px #ccc;
    margin: 4px;
    background-color: rgb(25, 25, 25);
}

.filter-element .filter-header {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.filter-element .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
    margin-left: 10px;
    transition: color 0.3s;
}

.filter-element .delete-button:hover {
    color: #ff4d4d;
}

.filter-element .filter-body {
    display: flex;
    align-items: center;
}

.filter-element .filter-select {
    margin-right: 10px;
}

.filter-element .form-select {
    width: auto;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn {
    color: rgba(255, 255, 255, .75);
}

audio::-webkit-media-controls-enclosure,
audio::-webkit-media-controls-panel {
    background-color: transparent;
}

audio::-webkit-media-controls-panel {
    color: white;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

audio::-webkit-media-controls-current-time-display {
    color: rgba(255, 255, 255, .75);
}

audio::-webkit-media-controls-time-remaining-display {
    color: rgba(255, 255, 255, .75);
}

audio::-webkit-media-controls-fullscreen-button {
    color: rgba(255, 255, 255, .75);
}

.song_title_container {
    color: rgba(255, 255, 255, .75);
    display: inline-block;
    font-size: 1.25em;
}

.song_title_click_wrapper {
    padding: 3px;
    display: inline-block;
    cursor: pointer;
}

.song_title_click_wrapper i {
    color: white;
    position: relative;
    top: 4px;
    transition: transform 0.5s;
    transform: rotate(0deg);
}

.playlist .song_title_click_wrapper i {
    transition: transform 0.5s;
    transform: rotate(180deg);
}

.btn.play_next,
.btn.show_search_overlay,
.btn.closed_caption_btn {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
}

.btn.play_next i,
.btn.show_search_overlay i,
.btn.closed_caption_btn i {
    color: black;
    top: 2px;
    position: relative;
}

.btn .playlist_buttons {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
}

.song_card_text {
    max-height: 10em;
    overflow: auto;
}

#search_modal .modal-content {
    display: flex;
    height: calc(100vh - 120px);
    background: rgba(75, 75, 75, .25);
}

#search_modal .modal-content .modal-body {
    flex-direction: column;
    flex: 1;
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.full_augmented_response {
    flex: 1;
    overflow: auto;
    margin-top: 20px;
}

.match-card .btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
}

.song_card_text {
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
}

.show-lyrics .song_card_text {
    height: 10em;
    overflow: auto;
}

.verse_chunk_highlight,
.stanza_chunk_highlight {
    color: red;
}

.stanza_chunk_overlap {
    color: green;
}

.full_display_lyrics {
    white-space: pre-wrap;
    text-align: center;
    font-size: 1.5em;
    padding-top: 10em;
    padding-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.lyric_overlay {
    overflow: hidden;
}

.search_header {
    line-height: 4em;
}

.lyrics_modal_content {
    white-space: pre-wrap;
    max-height: calc(70vh - 100px);
    overflow: auto;
}

.search_container {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 4px;
    padding: 8px;
  }
  
  .search_input {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    outline: none;
  }
  
  .search_input::placeholder {
    color: #888;
  }
  
  .search_button,
  .play_all_button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;
    display: flex;
    align-items: center;
  }
  
  .search_button:hover,
  .play_all_button:hover {
    background-color: #555;
  }
  
  .search_button i,
  .play_all_button i {
    font-size: 18px;
    margin-right: 4px;
  }
  
  .play_all_button {
    font-size: 14px;
  }